Question 1

In [78]:
import pandas as pd
import numpy as np

df = pd.read_csv('D1[1].csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1544 entries, 0 to 1543
Data columns (total 6 columns):
patient_id    1544 non-null object
global_num    975 non-null float64
date          1544 non-null object
location      1544 non-null object
latitude      1544 non-null float64
longitude     1544 non-null float64
dtypes: float64(3), object(3)
memory usage: 72.5+ KB

In [2]:
df

,patient_id,global_num,date,location,latitude,longitude
0,P1000000501,2.0,22/04/2020,Chittorgarh_Rajasthan,24.879999,74.629997
1,P1000000501,2.0,24/04/2020,Ratnagiri_Maharashtra,16.994444,73.300003
2,P1000000502,5.0,26/04/2020,Pindwara_Rajasthan,24.794500,73.055000
3,P1000000502,5.0,27/04/2020,Raipur_Chhattisgarh,21.250000,81.629997
4,P1000000502,5.0,28/04/2020,Gokak_Karnataka,16.166700,74.833298
...,...,...,...,...,...,...
1539,P9011000510,NaN,19/05/2020,Sagar_Karnataka,14.167040,75.040298
1540,P9011000510,NaN,19/05/2020,Jorapokhar_Jharkhand,22.422455,85.760651
1541,P9014000503,NaN,27/05/2020,Rewa_Madhya Pradesh,24.530727,81.299110
1542,P9014000504,NaN,27/05/2020,Dharmavaram_Andhra Pradesh,14.413745,77.712616
1543,P9015000503,41.0,2/12/2020,Asansol_West Bengal,23.673944,86.952393

In [3]:
for col in df:
    print(df[col].unique())

['P1000000501' 'P1000000502' 'P1000000504' 'P1000000505' 'P1000000506'
 'P1000000507' 'P1000000508' 'P1000000509' 'P1000000510' 'P1000000511'
 'P1000000513' 'P1000000514' 'P1000000515' 'P1000000517' 'P1000000518'
 'P1000000520' 'P1000000521' 'P1000000522' 'P1000000523' 'P1000000524'
 'P1000000525' 'P1000000526' 'P1000000527' 'P1000000529' 'P1000000531'
 'P1000000532' 'P1000000533' 'P1000000534' 'P1000000535' 'P1000000537'
 'P1000000538' 'P1000000539' 'P1000000540' 'P1000000541' 'P1000000542'
 'P1000000543' 'P1000000544' 'P1000000545' 'P1000000546' 'P1000000547'
 'P1000000549' 'P1000000550' 'P1000000551' 'P1000000552' 'P1000000553'
 'P1000000554' 'P1000000555' 'P1000000556' 'P1000000558' 'P1000000559'
 'P1000000560' 'P1000000561' 'P1000000562' 'P1000000565' 'P1000000566'
 'P1000000567' 'P1000000568' 'P1000000570' 'P1000000571' 'P1000000572'
 'P1000000574' 'P1000000575' 'P1000000576' 'P1000000577' 'P1000000580'
 'P1000000581' 'P1000000582' 'P1000000583' 'P1000000584' 'P1000000585'
 'P1000000586' 'P1000000589' 'P1000000590' 'P1000000591' 'P1000000592'
 'P1000000593' 'P1000000594' 'P1000000596' 'P1000000597' 'P1000000599'
 'P1000000602' 'P1000000603' 'P1000000604' 'P1000000605' 'P1000000606'
 'P1000000607' 'P1000000608' 'P1000000609' 'P1000000610' 'P1000000611'
 'P1000000612' 'P1000000613' 'P1000000614' 'P1000000615' 'P1000000616'
 'P1000000619' 'P1000000622' 'P1000000623' 'P1000000624' 'P1000000627'
 'P1000000631' 'P1000000632' 'P1000000633' 'P1000000634' 'P1000000637'
 'P1000000640' 'P1000000641' 'P1000000642' 'P1000000643' 'P1000000646'
 'P1000000647' 'P1000000648' 'P1000000654' 'P1000000658' 'P1000000660'
 'P1000000661' 'P1000000664' 'P1000000665' 'P1000000668' 'P1000000670'
 'P1000000671' 'P1000000673' 'P1000000674' 'P1000000675' 'P1000000676'
 'P1000000677' 'P1000000678' 'P1000000683' 'P1000000684' 'P1000000685'
 'P1000000686' 'P1000000687' 'P1000000688' 'P1000000689' 'P1000000690'
 'P1000000691' 'P1000000692' 'P1000000693' 'P1000000694' 'P1000000695'
 'P1000000696' 'P1000000697' 'P1000000698' 'P1000000699' 'P1000000701'
 'P1000000703' 'P1000000704' 'P1000000705' 'P1000000706' 'P1000000707'
 'P1000000710' 'P1000000711' 'P1000000713' 'P1000000714' 'P1000000715'
 'P1000000721' 'P1000000724' 'P1000000725' 'P1000000726' 'P1000000727'
 'P1000000729' 'P1000000731' 'P1000000732' 'P1000000733' 'P1000000735'
 'P1000000736' 'P1000000737' 'P1000000738' 'P1000000742' 'P1000000744'
 'P1000000745' 'P1000000747' 'P1000000748' 'P1000000749' 'P1000000751'
 'P1000000752' 'P1000000753' 'P1000000754' 'P1000000755' 'P1000000756'
 'P1000000758' 'P1000000760' 'P1000000761' 'P1000000763' 'P1000000764'
 'P1000000766' 'P1000000767' 'P1000000768' 'P1000000769' 'P1000000770'
 'P1000000771' 'P1000000772' 'P1000000773' 'P1000000774' 'P1000000775'
 'P1000000778' 'P1000000779' 'P1000000780' 'P1000000782' 'P1000000783'
 'P1000000785' 'P1000000786' 'P1000000787' 'P1000000788' 'P1000000790'
 'P1000000791' 'P1000000792' 'P1000000794' 'P1000000795' 'P1000000796'
 'P1000000797' 'P1000000798' 'P1000000799' 'P1000000801' 'P1000000802'
 'P1000000803' 'P1000000804' 'P1000000806' 'P1000000807' 'P1000000809'
 'P1000000810' 'P1000000812' 'P1000000813' 'P1000000814' 'P1000000815'
 'P1000000817' 'P1000000818' 'P1000000820' 'P1000000821' 'P1000000822'
 'P1000000823' 'P1000000826' 'P1000000827' 'P1000000828' 'P1000000829'
 'P1000000830' 'P1000000831' 'P1000000832' 'P1000000833' 'P1000000834'
 'P1000000836' 'P1000000839' 'P1000000840' 'P1000000842' 'P1000000843'
 'P1000000844' 'P1000000845' 'P1000000847' 'P1000000848' 'P1000000849'
 'P1000000850' 'P1000000851' 'P1000000852' 'P1000000854' 'P1000000855'
 'P1000000856' 'P1000000857' 'P1000000859' 'P1000000860' 'P1000000861'
 'P1000000862' 'P1000000866' 'P1000000869' 'P1000000870' 'P1000000871'
 'P1000000873' 'P1000000874' 'P1000000875' 'P1000000876' 'P1000000877'
 'P1000000878' 'P1000000882' 'P1000000883' 'P1000000884' 'P1000000885'
 'P1000000886' 'P1000000887' 'P1000000889' 'P1000000890' 'P1000000891'
 'P1000000898' 'P1000000900' 'P1000000901' 'P1000000903' 'P1000000904'
 'P1000000906' 'P1000000907' 'P1000000909' 'P1000000910' 'P1000000913'
 'P1000000914' 'P1000000915' 'P1000000917' 'P1000000918' 'P1000000919'
 'P1000000920' 'P1000000921' 'P1000000923' 'P1000000924' 'P1000000925'
 'P1000000926' 'P1000000927' 'P1000000929' 'P1000000930' 'P1000000937'
 'P1000000938' 'P1000000939' 'P1000000940' 'P1000000941' 'P1000000943'
 'P1000000944' 'P1000000945' 'P1000000946' 'P1000000947' 'P1000000949'
 'P1000000952' 'P1000000954' 'P1000000956' 'P1000000959' 'P1000000960'
 'P1000000961' 'P1000000963' 'P1000000964' 'P1000000965' 'P1000000966'
 'P1000000967' 'P1000000968' 'P1000000969' 'P1000000972' 'P1000000974'
 'P1000000975' 'P1000000976' 'P1000000977' 'P1000000978' 'P1000000982'
 'P1000000983' 'P1000000984' 'P1000000985' 'P1000000986' 'P1000000990'
 'P1000000991' 'P1000000992' 'P1000000993' 'P1000000996' 'P1000000997'
 'P1000000998' 'P1000000999' 'P1000001002' 'P1000001003' 'P1000001005'
 'P1000001006' 'P1000001007' 'P1000001009' 'P1000001010' 'P1000001011'
 'P1000001012' 'P1000001014' 'P1000001015' 'P1000001016' 'P1000001017'
 'P1000001018' 'P1000001019' 'P1000001020' 'P1000001022' 'P1000001023'
 'P1000001024' 'P1000001026' 'P1000001027' 'P1000001030' 'P1000001031'
 'P1000001032' 'P1000001035' 'P1000001037' 'P1000001038' 'P1000001039'
 'P1000001040' 'P1000001042' 'P1000001043' 'P1000001044' 'P1000001045'
 'P1000001046' 'P1000001047' 'P1000001048' 'P1000001049' 'P1000001051'
 'P1000001052' 'P1000001053' 'P1000001054' 'P1000001055' 'P1000001056'
 'P1000001057' 'P1000001058' 'P1000001060' 'P1000001062' 'P1000001064'
 'P1000001065' 'P1000001066' 'P1000001067' 'P1000001069' 'P1000001070'
 'P1000001071' 'P1000001072' 'P1000001073' 'P1000001074' 'P1000001075'
 'P1000001076' 'P1000001077' 'P1000001080' 'P1000001081' 'P1000001082'
 'P1000001083' 'P1000001084' 'P1000001085' 'P1000001086' 'P1000001088'
 'P1000001089' 'P1000001090' 'P1000001092' 'P1000001093' 'P1000001094'
 'P1000001095' 'P1000001096' 'P1000001097' 'P1000001098' 'P1000001100'
 'P1000001101' 'P1000001102' 'P1000001103' 'P1000001104' 'P1000001105'
 'P1000001106' 'P1000001107' 'P1000001108' 'P1000001110' 'P1000001111'
 'P1000001112' 'P1000001113' 'P1000001114' 'P1000001115' 'P1000001116'
 'P1000001117' 'P1000001118' 'P1000001119' 'P1000001121' 'P1000001122'
 'P1000001123' 'P1000001124' 'P1000001126' 'P1000001127' 'P1000001130'
 'P1000001131' 'P1100000501' 'P1100000502' 'P1100000503' 'P1100000504'
 'P1100000505' 'P1100000506' 'P1100000509' 'P1100000510' 'P1100000511'
 'P1100000513' 'P1100000514' 'P1100000516' 'P1100000517' 'P1100000518'
 'P1100000519' 'P1100000520' 'P1100000522' 'P1100000523' 'P1100000524'
 'P1100000526' 'P1100000527' 'P1100000528' 'P1100000529' 'P1100000530'
 'P1100000533' 'P1100000535' 'P1100000537' 'P1100000544' 'P1100000545'
 'P1100000546' 'P1100000549' 'P1100000550' 'P1100000553' 'P1100000554'
 'P1100000555' 'P1100000556' 'P1100000557' 'P1100000558' 'P1100000559'
 'P1100000560' 'P1100000561' 'P1100000562' 'P1100000563' 'P1100000564'
 'P1100000566' 'P1100000567' 'P1100000568' 'P1100000569' 'P1100000571'
 'P1100000573' 'P1100000575' 'P1100000576' 'P1100000578' 'P1100000579'
 'P1100000580' 'P1100000581' 'P1100000582' 'P1100000583' 'P1100000584'
 'P1100000587' 'P1100000588' 'P1100000589' 'P1100000591' 'P1100000592'
 'P1100000594' 'P1100000595' 'P1100000596' 'P1100000597' 'P1100000598'
 'P1100000599' 'P1100000600' 'P1100000601' 'P1100000602' 'P1100000603'
 'P1100000604' 'P1100000605' 'P1100000606' 'P1100000607' 'P1100000608'
 'P1100000609' 'P1100000610' 'P1100000611' 'P1100000612' 'P1100000613'
 'P1100000614' 'P1100000625' 'P1100000626' 'P1100000627' 'P1100000628'
 'P1100000629' 'P1100000630' 'P1100000631' 'P1100000632' 'P1100000633'
 'P1100000634' 'P1200000531' 'P1200000533' 'P1200000538' 'P1200000614'
 'P1300000501' 'P1300000502' 'P1300000503' 'P1300000505' 'P1300000506'
 'P1300000507' 'P1300000508' 'P1300000510' 'P1300000512' 'P1300000513'
 'P1300000516' 'P1300000518' 'P1300000519' 'P1400000502' 'P1400000503'
 'P1400000504' 'P1400000505' 'P1400000506' 'P1400000507' 'P1400000508'
 'P1400000510' 'P1400000511' 'P1400000512' 'P1400000515' 'P1400000516'
 'P1400000517' 'P1400000518' 'P1400000519' 'P1400000520' 'P1400000521'
 'P1400000522' 'P1400000524' 'P1400000526' 'P1400000527' 'P1400000528'
 'P1400000531' 'P1400000532' 'P1400000535' 'P1400000536' 'P1400000537'
 'P1400000538' 'P1400000539' 'P1400000540' 'P1400000541' 'P1400000542'
 'P1500000540' 'P1600000501' 'P1600000502' 'P1600000503' 'P1600000504'
 'P1600000505' 'P1600000506' 'P1600000507' 'P1600000509' 'P1600000510'
 'P1600000511' 'P1600000513' 'P1600000514' 'P1600000515' 'P1600000517'
 'P1600000518' 'P1600000519' 'P1600000520' 'P1600000521' 'P1600000522'
 'P1600000524' 'P1600000525' 'P1600000527' 'P1600000529' 'P1600000530'
 'P1600000531' 'P1600000533' 'P1600000543' 'P1700000501' 'P1700000518'
 'P1700000528' 'P1700000533' 'P1700000535' 'P1700000536' 'P1700000537'
 'P1700000538' 'P1700000540' 'P2000000501' 'P2000000502' 'P2000000505'
 'P2000000506' 'P2000000507' 'P2000000508' 'P2000000509' 'P2000000510'
 'P2000000511' 'P2000000512' 'P2000000513' 'P2000000514' 'P2000000519'
 'P3001000502' 'P3001000503' 'P3001000504' 'P3001000505' 'P3001000506'
 'P3004000501' 'P3009000501' 'P3009000502' 'P3009000503' 'P3009000509'
 'P3009000517' 'P3013000501' 'P3013000502' 'P3014000501' 'P4000000502'
 'P4000000503' 'P4000000504' 'P4000000508' 'P4000000511' 'P4000000512'
 'P4000000516' 'P4000000519' 'P4000000520' 'P4000000521' 'P4000000523'
 'P4000000526' 'P4000000528' 'P4000000529' 'P4000000533' 'P4000000537'
 'P4000000538' 'P4100000501' 'P4100000502' 'P4100000508' 'P4100000509'
 'P4100000511' 'P4100000512' 'P4100000513' 'P4100000514' 'P4100000517'
 'P4100000518' 'P4100000524' 'P4100000528' 'P4100000538' 'P4100000541'
 'P4100000542' 'P4100000545' 'P4100000547' 'P4100000548' 'P4100000550'
 'P4100000551' 'P4100000553' 'P4100000554' 'P4100000555' 'P4100000556'
 'P4100000557' 'P4100000559' 'P4100000563' 'P4100000564' 'P4100000565'
 'P4100000566' 'P4100000567' 'P4100000569' 'P4100000570' 'P4100000571'
 'P4100000572' 'P4100000573' 'P4100000575' 'P4100000576' 'P4100000577'
 'P4100000578' 'P4100000583' 'P4100000598' 'P4100000609' 'P4100000639'
 'P4100000640' 'P5000000501' 'P5100000501' 'P5100000504' 'P5100000506'
 'P6001000501' 'P6001000502' 'P6001000506' 'P6001000507' 'P6001000508'
 'P6001000509' 'P6001000510' 'P6001000512' 'P6001000513' 'P6001000514'
 'P6001000519' 'P6001000520' 'P6001000521' 'P6001000532' 'P6001000539'
 'P6001000541' 'P6001000544' 'P6001000545' 'P6001000546' 'P6001000562'
 'P6001000563' 'P6002000501' 'P6002000503' 'P6002000504' 'P6002000507'
 'P6002000508' 'P6002000509' 'P6002000511' 'P6002000512' 'P6002000513'
 'P6002000514' 'P6002000515' 'P6002000517' 'P6002000518' 'P6002000521'
 'P6002000525' 'P6002000526' 'P6002000529' 'P6004000518' 'P6004000520'
 'P6004000523' 'P6004000525' 'P6004000531' 'P6004000536' 'P6004000540'
 'P6004000543' 'P6004000547' 'P6011000501' 'P6011000502' 'P6011000503'
 'P6011000504' 'P6011000505' 'P6011000506' 'P6011000507' 'P6011000509'
 'P6011000510' 'P6014000501' 'P6014000502' 'P6014000503' 'P6014000504'
 'P6015000503' 'P6015000507' 'P6016000507' 'P6016000511' 'P6016000512'
 'P6016000513' 'P6016000521' 'P6016000526' 'P6016000531' 'P6016000532'
 'P6016000533' 'P6016000534' 'P6016000535' 'P6016000538' 'P6020100554'
 'P6020100555' 'P6020100607' 'P6020100786' 'P6020100798' 'P6023000501'
 'P6023000502' 'P6023000503' 'P6023000504' 'P6023000505' 'P6023000506'
 'P6023000507' 'P6023000508' 'P6023000511' 'P6023000514' 'P6023000515'
 'P6023000516' 'P6023000517' 'P6023000519' 'P6023000520' 'P6023000521'
 'P6023000522' 'P6023000523' 'P6023000524' 'P6023000525' 'P6023000526'
 'P6023000527' 'P6023000528' 'P6023000529' 'P6023000530' 'P6023000531'
 'P6023000533' 'P6023000534' 'P6023000535' 'P6023000536' 'P6023000537'
 'P6023000538' 'P6023000539' 'P6023000541' 'P6023000544' 'P6023000545'
 'P6023000546' 'P6023000547' 'P6023000548' 'P6100000513' 'P6100000514'
 'P6100000515' 'P6100000516' 'P6100000517' 'P6100000518' 'P6100000519'
 'P6100000520' 'P6100000521' 'P6100000522' 'P6100000523' 'P6100000524'
 'P6100000526' 'P6100000527' 'P6100000528' 'P6100000529' 'P6100000530'
 'P6100000534' 'P6100000535' 'P6100000536' 'P6100000540' 'P6100000541'
 'P6100000542' 'P6100000544' 'P6100000545' 'P6100000549' 'P6100000552'
 'P6100000554' 'P6100000555' 'P6100000557' 'P6100000558' 'P6100000559'
 'P6100000560' 'P6100000561' 'P6100000563' 'P6100000565' 'P6100000567'
 'P6100000568' 'P6100000569' 'P6100000573' 'P6100000576' 'P6100000579'
 'P6100000581' 'P6100000582' 'P6100000583' 'P6100000585' 'P6100000586'
 'P6100000590' 'P9100000579' 'P9100000581' 'P9100000582' 'P9100000583'
 'P9100000585' 'P9100000586' 'P9100000590' 'P9004000547' 'P9011000501'
 'P9011000502' 'P9011000503' 'P9011000504' 'P9011000505' 'P9011000506'
 'P9011000507' 'P9011000509' 'P9011000510' 'P9014000503' 'P9014000504'
 'P9015000503']
[2.0000e+00 5.0000e+00 7.0000e+00 9.0000e+00 1.0000e+01 1.1000e+01
 1.3000e+01 1.9000e+01 2.1000e+01 2.3000e+01 2.9000e+01 3.0000e+01
 4.0000e+01 8.3000e+01 1.1100e+02 1.2100e+02 1.3600e+02 1.6100e+02
 1.8800e+02 3.4800e+02 3.6500e+02 4.2000e+02 5.9300e+02 7.5400e+02
 7.8000e+02 7.8700e+02 7.9400e+02 7.9700e+02 8.4700e+02 8.8700e+02
 9.0700e+02 9.2400e+02 9.3500e+02 9.3800e+02 9.9600e+02 1.0220e+03
 1.0270e+03 1.1180e+03 1.2460e+03 1.2470e+03 1.2540e+03 1.2950e+03
 1.3700e+03 1.3780e+03 1.5310e+03 1.5320e+03 1.5670e+03 1.6110e+03
 1.7100e+03 1.7670e+03 1.7680e+03 1.7880e+03 1.9070e+03 2.4690e+03
 2.4700e+03 2.4710e+03 2.6210e+03 2.7400e+03 2.8180e+03 2.8330e+03
 2.8580e+03 3.0070e+03 3.0540e+03 3.0460e+03 3.2630e+03 3.4910e+03
 3.5170e+03 3.6790e+03 3.6800e+03 3.6840e+03 3.6160e+03 3.7930e+03
 3.8150e+03 4.1740e+03 4.2240e+03 4.5170e+03 4.5580e+03 4.6450e+03
 4.7090e+03 5.3770e+03 5.6660e+03 5.6950e+03 6.0700e+03 6.1310e+03
 6.3840e+03 6.5890e+03 6.7270e+03 6.7730e+03 6.7810e+03 6.8320e+03
 6.8450e+03 6.8830e+03 6.9210e+03 6.9370e+03 6.9590e+03 7.0270e+03
 7.2340e+03 7.2430e+03 7.2470e+03 7.2800e+03 7.4010e+03 7.4790e+03
 7.5140e+03 7.4370e+03 7.4630e+03 7.5000e+03 7.5800e+03 7.7260e+03
 8.0030e+03 7.6360e+03 7.5440e+03 7.4800e+03 7.7000e+03 7.7210e+03
 7.6440e+03 7.6030e+03 7.5730e+03 7.6240e+03 7.6530e+03 7.7340e+03
 7.6380e+03 7.7310e+03 7.5710e+03 7.6950e+03 7.5640e+03 7.5230e+03
 7.6020e+03 7.8400e+03 7.8230e+03 7.7420e+03 7.6300e+03 7.6370e+03
 7.5610e+03 7.5360e+03 7.5880e+03 7.6470e+03 7.8000e+03 7.8260e+03
 7.7870e+03 7.7950e+03 7.6190e+03 7.5240e+03 7.5390e+03 7.7250e+03
 7.7110e+03 7.8420e+03 7.8510e+03 7.8220e+03 7.8180e+03 7.7570e+03
 7.8360e+03 7.7590e+03 7.8760e+03 7.8050e+03 7.8560e+03 7.8930e+03
 7.8740e+03 7.9390e+03 7.9250e+03 7.9140e+03 8.0570e+03 8.0550e+03
 8.0740e+03 8.1270e+03 7.9800e+03 8.0530e+03 8.0440e+03 8.0490e+03
 8.1250e+03 8.1020e+03 8.1400e+03 8.0960e+03 8.1530e+03 8.2090e+03
 8.1830e+03 8.7170e+03 8.1780e+03 8.1920e+03 8.2630e+03 8.2500e+03
 8.3170e+03 8.3110e+03 8.2970e+03 8.2680e+03 8.2450e+03 8.2710e+03
 8.3690e+03 8.3900e+03 8.3590e+03 8.3420e+03 8.4550e+03 8.5170e+03
 8.5080e+03 8.5290e+03 8.4850e+03 8.4760e+03 8.4860e+03 8.5470e+03
 8.5570e+03 8.6480e+03 8.6020e+03 8.6270e+03 8.6360e+03 8.6010e+03
 8.6150e+03 8.5980e+03 8.6160e+03 8.6460e+03 8.5950e+03 8.6030e+03
 8.6140e+03 8.5880e+03 8.6120e+03 8.7620e+03 8.6690e+03 8.7870e+03
 8.7090e+03 8.7130e+03 8.6640e+03 8.7920e+03 8.6820e+03 8.6700e+03
 8.6610e+03 8.8240e+03 8.8350e+03 8.8710e+03 8.8480e+03 8.8360e+03
 8.8810e+03 8.8260e+03 8.9380e+03 8.9280e+03 8.9370e+03 8.9430e+03
 8.9400e+03 8.9910e+03 9.0160e+03 9.0200e+03 9.0280e+03 9.1120e+03
 9.0890e+03 9.1010e+03 9.1340e+03 9.0790e+03 9.1150e+03 9.0990e+03
 9.1270e+03 9.1820e+03 9.2320e+03 9.2230e+03 9.2310e+03 9.1830e+03
 9.1940e+03 9.1750e+03 9.1700e+03 9.2190e+03 9.1710e+03 9.2280e+03
 9.3660e+03 9.3250e+03 9.3200e+03 9.3060e+03 9.2600e+03 9.2550e+03
 9.3630e+03 9.4280e+03 9.4340e+03 9.4360e+03 9.3880e+03 9.4460e+03
 9.4090e+03 9.4240e+03 9.4250e+03 9.4680e+03 9.4100e+03 9.3640e+03
 9.3930e+03 9.5380e+03 9.5470e+03 9.5160e+03 9.5100e+03 9.5720e+03
 9.5710e+03 9.5600e+03 9.5740e+03 9.3850e+03 9.5150e+03 9.5520e+03
 9.6210e+03 9.6290e+03 9.6100e+03 9.6440e+03 9.6410e+03 9.6330e+03
 9.6030e+03 9.6070e+03 9.6280e+03 9.5990e+03 9.6270e+03 9.6130e+03
 9.6960e+03 9.6970e+03 9.7830e+03 9.7510e+03 9.7160e+03 9.7630e+03
 9.7230e+03 9.7650e+03 9.7340e+03 9.7600e+03 9.7520e+03 9.6870e+03
 9.7250e+03 9.6930e+03 9.8690e+03 9.8330e+03 9.7950e+03 9.8540e+03
 9.8210e+03 9.8790e+03 9.8760e+03 9.8120e+03 9.8370e+03 9.8590e+03
 9.8290e+03 9.8490e+03 9.8100e+03 9.8000e+03 9.8640e+03 9.9290e+03
 9.9120e+03 9.9300e+03 9.9320e+03 9.9390e+03 9.9460e+03 9.9740e+03
 9.9440e+03 9.9110e+03 1.0027e+04 1.0021e+04 1.0053e+04 1.0017e+04
 1.0022e+04 1.0061e+04 1.0003e+04 1.0028e+04 1.0054e+04 1.0015e+04
 1.0046e+04 1.0013e+04 1.0079e+04 1.0084e+04 1.0092e+04 1.0096e+04
 1.0098e+04 1.0110e+04 1.0140e+04 1.0134e+04 1.0095e+04 1.0138e+04
 1.0147e+04 1.0124e+04 1.0145e+04 1.0146e+04 1.0122e+04 1.0106e+04
 1.0087e+04 1.0195e+04 1.0199e+04 1.0224e+04 1.0236e+04 1.0202e+04
 1.0204e+04 1.0227e+04 1.0216e+04 1.0198e+04 1.0230e+04 1.0233e+04
 1.0219e+04 1.0197e+04 1.0210e+04 1.0200e+04 1.0191e+04 1.0237e+04
 1.0188e+04 1.0259e+04 1.0270e+04 1.0272e+04 1.0266e+04 1.0262e+04
 1.0277e+04 1.0275e+04 1.0246e+04 1.0313e+04 1.0321e+04 1.0329e+04
 1.0325e+04 1.0355e+04 1.0360e+04 1.0352e+04 1.0369e+04 1.0357e+04
 1.0359e+04 1.0377e+04 1.0379e+04 1.0364e+04 1.0412e+04 1.0405e+04
 1.0402e+04 1.0423e+04 1.0399e+04 1.0422e+04 1.0407e+04 1.0421e+04
 1.0413e+04 1.0396e+04 1.0448e+04 1.0442e+04 1.0441e+04 1.0443e+04
 1.0471e+04 1.0470e+04 1.0499e+04 1.0465e+04 1.0503e+04 1.0504e+04
 1.0525e+04 1.0520e+04 1.0521e+04 1.0526e+04 1.0522e+04 1.0537e+04
 1.0524e+04 1.0564e+04 1.0559e+04 1.0588e+04 1.0575e+04 1.0569e+04
 1.0584e+04 1.0589e+04 1.0610e+04 1.0597e+04 1.0635e+04 1.0644e+04
 1.0658e+04 1.0659e+04 1.0683e+04 1.0693e+04 1.0745e+04 1.0747e+04
        nan 3.1000e+01 3.3000e+01 3.8000e+01 1.1400e+02 1.6000e+01
 1.8000e+01 1.2600e+02 2.1000e+02 2.3900e+02 4.8900e+02 5.8900e+02
 4.3880e+03 5.1410e+03 5.0310e+03 8.1410e+03 8.5740e+03 8.8210e+03
 3.9800e+02 1.1290e+03 2.0210e+03 2.5920e+03 2.6410e+03 4.1220e+03
 5.0260e+03 7.4340e+03 7.4710e+03 7.4860e+03 7.5500e+03 7.5660e+03
 7.5740e+03 7.6090e+03 7.6210e+03 7.6270e+03 7.6280e+03 7.6570e+03
 7.6880e+03 7.9270e+03 7.9280e+03 7.9970e+03 8.2730e+03 8.3870e+03
 8.6400e+03 8.6490e+03 8.6950e+03 8.7240e+03 8.7370e+03 8.7530e+03
 9.0010e+03 9.0820e+03 1.0687e+04 3.4600e+02 3.0000e+00 4.0000e+00
 1.5000e+01 1.7000e+01 2.0000e+01 2.5000e+01 2.6000e+01 2.7000e+01
 2.8000e+01 3.2000e+01 1.4000e+02 1.6200e+02 3.6200e+02 3.6600e+02
 8.0000e+00 2.2000e+01 3.8860e+03 8.8600e+03 6.7000e+01 7.3000e+01
 2.1100e+02 2.3400e+02 2.3500e+02 2.3600e+02 2.3700e+02 2.4000e+02
 3.9400e+02 3.9500e+02 6.1500e+02 6.2500e+02 6.2600e+02 8.5100e+02
 1.1900e+03 1.1920e+03 1.1960e+03 1.2000e+03 1.2080e+03 1.2010e+03
 1.2220e+03 3.8700e+02 3.8600e+02 3.8400e+02 3.8500e+02 3.8800e+02
 4.4000e+02 4.1000e+01 3.3500e+02 5.4000e+01 5.5000e+01 1.0700e+02
 2.8600e+02 2.9800e+02 2.0700e+02 4.8000e+02 4.8300e+02 6.0100e+02
 4.8200e+02 6.0300e+02 6.0400e+02 5.9200e+02 8.3900e+02 1.1660e+03
 1.8000e+03 1.9350e+03 2.4130e+03 2.0270e+03 2.9700e+03 3.0270e+03
 3.0260e+03 3.2980e+03 3.4400e+03 3.4410e+03 3.4390e+03 2.6560e+03]
['22/04/2020' '24/04/2020' '26/04/2020' '27/04/2020' '28/04/2020'
 '30/04/2020' '2/08/2020' '2/06/2020' '2/05/2020' '2/07/2020' '2/10/2020'
 '2/01/2021' '2/09/2020' '15/05/2020' '20/05/2020' '2/04/2020'
 '21/05/2020' '2/03/2021' '16/05/2020' '22/05/2020' '23/05/2020'
 '2/02/2021' '25/05/2020' '26/05/2020' '18/05/2020' '24/05/2020'
 '19/05/2020' '14/05/2020' '17/05/2020' '27/05/2020' '28/05/2020'
 '29/05/2020' '3/07/2020' '3/08/2020' '3/09/2020' '3/05/2020' '3/06/2020'
 '3/10/2020' '3/11/2020' '3/12/2020' '3/01/2021' '3/04/2020' '3/02/2021'
 '3/03/2021' '13/06/2020' '14/06/2020' '15/06/2020' '16/06/2020'

In [4]:
df['patient_id'].value_counts()

P3013000501    6
P1000000555    5
P1000000535    5
P3013000502    5
P6100000519    5
              ..
P1600000521    1
P1100000600    1
P1000000509    1
P4100000542    1
P1000001093    1
Name: patient_id, Length: 911, dtype: int64

In [5]:
df['patient_id'].value_counts()
#appears there are 2 missing patient IDs as the lenght is 911 and there 
#is meant to be 913 unque patients

P3013000501    6
P1000000555    5
P1000000535    5
P3013000502    5
P6100000519    5
              ..
P1600000521    1
P1100000600    1
P1000000509    1
P4100000542    1
P1000001093    1
Name: patient_id, Length: 911, dtype: int64

In [6]:
df['location'].value_counts()
#location has correct amount

Sardarshahar_Rajasthan    134
Ranebennur_Karnataka       79
Lucknow_Uttar Pradesh      79
Ratnagiri_Maharashtra      57
Kollam_Kerala              54
                         ...
Durgapur_West Bengal        1
Udgir_Maharashtra           1
Bihar Sharif_Bihar          1
Hinganghat_Maharashtra      1
Arvi_Maharashtra            1
Name: location, Length: 151, dtype: int64

In [7]:
df['global_num'].value_counts()

384.0     8
440.0     6
387.0     6
847.0     5
1295.0    5
         ..
9864.0    1
8612.0    1
9320.0    1
1800.0    1
3815.0    1
Name: global_num, Length: 575, dtype: int64

In [8]:
df.isnull().sum()
#so there is 569 nan values in global which is more then half
#I dont really know what this ID is for and how it differs to patient_id 
#so im going to drop it for now

patient_id      0
global_num    569
date            0
location        0
latitude        0
longitude       0
dtype: int64

In [9]:
df = df.drop(columns=['global_num'])
df

,patient_id,date,location,latitude,longitude
0,P1000000501,22/04/2020,Chittorgarh_Rajasthan,24.879999,74.629997
1,P1000000501,24/04/2020,Ratnagiri_Maharashtra,16.994444,73.300003
2,P1000000502,26/04/2020,Pindwara_Rajasthan,24.794500,73.055000
3,P1000000502,27/04/2020,Raipur_Chhattisgarh,21.250000,81.629997
4,P1000000502,28/04/2020,Gokak_Karnataka,16.166700,74.833298
...,...,...,...,...,...
1539,P9011000510,19/05/2020,Sagar_Karnataka,14.167040,75.040298
1540,P9011000510,19/05/2020,Jorapokhar_Jharkhand,22.422455,85.760651
1541,P9014000503,27/05/2020,Rewa_Madhya Pradesh,24.530727,81.299110
1542,P9014000504,27/05/2020,Dharmavaram_Andhra Pradesh,14.413745,77.712616
1543,P9015000503,2/12/2020,Asansol_West Bengal,23.673944,86.952393

In [10]:
travel = df.groupby(['patient_id'])['location'].apply(list)
print(travel)

patient_id
P1000000501       [Chittorgarh_Rajasthan, Ratnagiri_Maharashtra]
P1000000502    [Pindwara_Rajasthan, Raipur_Chhattisgarh, Goka...
P1000000504                              [Lucknow_Uttar Pradesh]
P1000000505                              [Lucknow_Uttar Pradesh]
P1000000506                                        [Delhi_Delhi]
                                     ...
P9100000582                                      [Anand_Gujarat]
P9100000583    [Channapatna_Karnataka, Sivasagar_Assam, Jorap...
P9100000585                               [Ranaghat_West Bengal]
P9100000586                  [RL Infotechh & Solutions_Durgapur]
P9100000590             [Sardarshahar_Rajasthan, Pali_Rajasthan]
Name: location, Length: 911, dtype: object

In [11]:
pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py): started
  Building wheel for apyori (setup.py): finished with status 'done'
  Created wheel for apyori: filename=apyori-1.1.2-cp37-none-any.whl size=5979 sha256=588ba5bbc95e416e6cd73cd417de9c1db49c6e3bee151867b85914eed9108f6a
  Stored in directory: C:\Users\n9993304\AppData\Local\pip\Cache\wheels\5d\92\bb\474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2
Note: you may need to restart the kernel to use updated packages.

In [12]:
from apyori import apriori
# type cast the transactions from pandas into normal list format and run apriori
travel_list = list(travel)
results = list(apriori(travel_list, min_support=0.01, min_confidence = 0.1))
# print first 5 rules
print(results[:5])

# I ended up using a min_support of 0.01 and min_confidence at 0.1 because these parameters produced the least redundent rules
# with all having a lift above > 1 while still representing a percentage of the data that is meaningful.

[RelationRecord(items=frozenset({'Sardarshahar_Rajasthan'}), support=0.14709110867178923, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Sardarshahar_Rajasthan'}), confidence=0.14709110867178923, lift=1.0)]), RelationRecord(items=frozenset({'Jorapokhar_Jharkhand', 'Channapatna_Karnataka'}), support=0.012074643249176729, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Channapatna_Karnataka'}), items_add=frozenset({'Jorapokhar_Jharkhand'}), confidence=0.21568627450980393, lift=5.45806100217865), OrderedStatistic(items_base=frozenset({'Jorapokhar_Jharkhand'}), items_add=frozenset({'Channapatna_Karnataka'}), confidence=0.3055555555555556, lift=5.45806100217865)]), RelationRecord(items=frozenset({'Sardarshahar_Rajasthan', 'Gokak_Karnataka'}), support=0.027442371020856202, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Gokak_Karnataka'}), items_add=frozenset({'Sardarshahar_Rajasthan'}), confidence=0.5, lift=3.399253731343284), OrderedStatistic(items_base=frozenset({'Sardarshahar_Rajasthan'}), items_add=frozenset({'Gokak_Karnataka'}), confidence=0.1865671641791045, lift=3.3992537313432836)]), RelationRecord(items=frozenset({'Kollam_Kerala', 'Sardarshahar_Rajasthan'}), support=0.012074643249176729, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Kollam_Kerala'}), items_add=frozenset({'Sardarshahar_Rajasthan'}), confidence=0.20370370370370372, lift=1.3848811498065232)]), RelationRecord(items=frozenset({'Lucknow_Uttar Pradesh', 'Sardarshahar_Rajasthan'}), support=0.018660812294182216, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Lucknow_Uttar Pradesh'}), items_add=frozenset({'Sardarshahar_Rajasthan'}), confidence=0.2151898734177215, lift=1.4629699603249575), OrderedStatistic(items_base=frozenset({'Sardarshahar_Rajasthan'}), items_add=frozenset({'Lucknow_Uttar Pradesh'}), confidence=0.12686567164179105, lift=1.4629699603249577)])]

In [13]:
def convert_apriori_results_to_pandas_df(results):
    rules = []
    for rule_set in results:
        for rule in rule_set.ordered_statistics:
            # items_base = left side of rules, items_add = right side
            # support, confidence and lift for respective rules
            rules.append([','.join(rule.items_base), ','.join(rule.items_add),
                rule_set.support, rule.confidence, rule.lift])
    # typecast it to pandas df
    return pd.DataFrame(rules, columns=['Left_side', 'Right_side', 'Support',
    'Confidence', 'Lift'])
result_df = convert_apriori_results_to_pandas_df(results)
result_df.head(10)

,Left_side,Right_side,Support,Confidence,Lift
0,,Sardarshahar_Rajasthan,0.147091,0.147091,1.000000
1,Channapatna_Karnataka,Jorapokhar_Jharkhand,0.012075,0.215686,5.458061
2,Jorapokhar_Jharkhand,Channapatna_Karnataka,0.012075,0.305556,5.458061
3,Gokak_Karnataka,Sardarshahar_Rajasthan,0.027442,0.500000,3.399254
4,Sardarshahar_Rajasthan,Gokak_Karnataka,0.027442,0.186567,3.399254
5,Kollam_Kerala,Sardarshahar_Rajasthan,0.012075,0.203704,1.384881
6,Lucknow_Uttar Pradesh,Sardarshahar_Rajasthan,0.018661,0.215190,1.462970
7,Sardarshahar_Rajasthan,Lucknow_Uttar Pradesh,0.018661,0.126866,1.462970

In [14]:
result_df = result_df.sort_values(by='Lift', ascending=False)
result_df.head(5)

,Left_side,Right_side,Support,Confidence,Lift
1,Channapatna_Karnataka,Jorapokhar_Jharkhand,0.012075,0.215686,5.458061
2,Jorapokhar_Jharkhand,Channapatna_Karnataka,0.012075,0.305556,5.458061
3,Gokak_Karnataka,Sardarshahar_Rajasthan,0.027442,0.500000,3.399254
4,Sardarshahar_Rajasthan,Gokak_Karnataka,0.027442,0.186567,3.399254
7,Sardarshahar_Rajasthan,Lucknow_Uttar Pradesh,0.018661,0.126866,1.462970

In [15]:
#sequential association mining can be done because the data is ordered by date in accending order, so each travel of 
# patient is sequential. The data does not have exact time but it is assumebed that patients with travel on the same day 
#is still ordered sequentially

transactions = df.groupby(['patient_id'])['location'].apply(list)
sequences = transactions.values.tolist()

# show the first 5 sequences
print(sequences[:5])

[['Chittorgarh_Rajasthan', 'Ratnagiri_Maharashtra'], ['Pindwara_Rajasthan', 'Raipur_Chhattisgarh', 'Gokak_Karnataka'], ['Lucknow_Uttar Pradesh'], ['Lucknow_Uttar Pradesh'], ['Delhi_Delhi']]

In [16]:
from collections import defaultdict
import subprocess
import re

''' Uses SPMF to find association rules in supplied transactions '''
def get_association_rules(sequences, min_sup, min_conf):
    # step 1: create required input for SPMF
    
    # prepare a dict to uniquely assign each item in the transactions to an int ID
    item_dict = defaultdict(int)
    output_dict = defaultdict(str)
    item_id = 1
    
    # write your sequences in SPMF format
    with open('seq_rule_input.txt', 'w+') as f:
        for sequence in sequences:
            z = []
            for itemset in sequence:
                # if there are multiple items in one itemset
                if isinstance(itemset, list):
                    for item in itemset:
                        if item not in item_dict:
                            item_dict[item] = item_id
                            item_id += 1

                        z.append(item_dict[item])
                else:
                    if itemset not in item_dict:
                        item_dict[itemset] = item_id
                        output_dict[str(item_id)] = itemset
                        item_id += 1
                    z.append(item_dict[itemset])
                    
                # end of itemset
                z.append(-1)
            
            # end of a sequence
            z.append(-2)
            f.write(' '.join([str(x) for x in z]))
            f.write('\n')
    
    # run SPMF with supplied parameters
    supp_param = '{}%'.format(int(min_sup * 100))
    conf_param = '{}%'.format(int(min_conf * 100))
    subprocess.call(['java', '-jar', 'spmf.jar', 'run', 'RuleGrowth', 
                     'seq_rule_input.txt', 'seq_rule_output.txt', 
                     supp_param, conf_param], shell=True)
    
    # read back the output rules
    outputs = open('seq_rule_output.txt', 'r').read().strip().split('\n')
    output_rules = []
    for rule in outputs:
        left, right, sup, conf = re.search(pattern=r'([0-9\,]+) ==> ([0-9\,]+) #SUP: ([0-9]+) #CONF: ([0-9\.]+)', string=rule).groups()
        sup = int(sup) / len(sequences)
        conf = float(conf)
        output_rules.append([[output_dict[x] for x in left.split(',')], [output_dict[x] for x in right.split(',')], sup, conf])
    
    # return pandas DataFrame
    return pd.DataFrame(output_rules, columns = ['Left_rule', 'Right_rule', 'Support', 'Confidence'])

In [21]:
get_association_rules(sequences, 0.01, 0.1)

                  Left_rule               Right_rule   Support  Confidence
0  [Sardarshahar_Rajasthan]        [Gokak_Karnataka]  0.026345    0.179104
1  [Sardarshahar_Rajasthan]  [Lucknow_Uttar Pradesh]  0.018661    0.126866
2   [Channapatna_Karnataka]   [Jorapokhar_Jharkhand]  0.010977    0.196078

Question 2

In [42]:
import pandas as pd
import numpy as np

# not skipping empty values, to demonstrate data preprocessing steps later
df = pd.read_csv('D2[1].csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36183 entries, 0 to 36182
Data columns (total 29 columns):
race                        35335 non-null object
gender                      36183 non-null object
age                         36174 non-null object
admission_type_id           36183 non-null int64
discharge_disposition_id    36183 non-null int64
admission_source_id         36183 non-null int64
time_in_hospital            36183 non-null int64
medical_specialty           36183 non-null object
num_lab_procedures          36183 non-null int64
num_procedures              36183 non-null int64
num_medications             36183 non-null int64
number_outpatient           36183 non-null int64
number_emergency            36183 non-null int64
number_inpatient            36183 non-null int64
number_diagnoses            36183 non-null int64
max_glu_serum               36183 non-null object
A1Cresult                   36183 non-null object
metformin                   36183 non-null object
repaglinide                 36183 non-null object
nateglinide                 36183 non-null object
chlorpropamide              36174 non-null object
glimepiride                 36183 non-null object
acetohexamide               36183 non-null object
glipizide                   36183 non-null object
glyburide                   36183 non-null object
tolbutamide                 36183 non-null object
insulin                     36183 non-null object
change                      36183 non-null bool
diabetesMed                 36183 non-null bool
dtypes: bool(2), int64(11), object(16)
memory usage: 7.5+ MB

In [43]:
for col in df:
    print(df[col].unique())

['Caucasian' 'AfricanAmerican' 'Hispanic' nan 'Other' 'Asian']
['Female' 'Male' 'Unknown/Invalid']
['[60-70)' '[80-90)' '[70-80)' '[40-50)' '[50-60)' '[90-100)' '[30-40)'
 '[20-30)' '[10-20)' '[0-10)' nan]
[2 3 1 5 6 8 7 4]
[ 1  2  6  3 22 11  7 23 13  4 15  9 28  5 19  8 25 14 24 18 27]
[ 1  7  5 17  4  2  3  6  9 10 22  8 14 11 25 13]
[ 4  8  2  7  3  6  5  1 13 12 11  9 10 14]
['InternalMedicine' 'Invalid' 'Cardiology' 'Emergency/Trauma' 'Neurology'
 'Surgery-General' 'Family/GeneralPractice'
 'Surgery-Cardiovascular/Thoracic' 'Surgery-Vascular' 'Oncology'
 'Osteopath' 'Surgery-Neuro' 'Radiologist' 'Nephrology' 'Pulmonology'
 'Orthopedics-Reconstructive' 'Gastroenterology' 'Surgery-Plastic'
 'Surgery-Pediatric' 'Psychiatry' 'Orthopedics' 'Urology'
 'Surgery-Cardiovascular' 'Gynecology' 'PhysicalMedicineandRehabilitation'
 'ObstetricsandGynecology' 'Hematology/Oncology' 'Podiatry'
 'Otolaryngology' 'Surgeon' 'Pediatrics' 'Psychology' 'Hematology'
 'OutreachServices' 'Endocrinology' 'Pathology' 'Obstetrics'
 'Surgery-Thoracic' 'Cardiology-Pediatric' 'Ophthalmology' 'Rheumatology'
 'Surgery-Maxillofacial' 'Hospitalist' 'InfectiousDiseases' 'Perinatology'
 'PhysicianNotFound' 'SurgicalSpecialty' 'Neurophysiology'
 'Anesthesiology' 'Radiology' 'Endocrinology-Metabolism' 'DCPTEAM'
 'Resident']
[ 43  48  39  54  70   1  28  42  27  26  51  41  50  37  46  71  55  35
  56   4  52  31  16  45  57  64  59  33  60  53  62  30   9  38  49  29
  58   5  10   3  65  68  32  44  34  23  36  40  75  66  61  67  11  47
  22  80  12  87  76   2  69  72  63  79  77  25  14  74  81   8  21  17
  24  19  83   6  78  73  93  18  82  20 113  15  85   7  86  88  84  13
  99  95  89  91 100  94 111  92  98  96 109 114  90  97 104 105 102 101
 108 103 132 106 121 118]
[0 6 1 4 2 3 5]
[13 26  9 11 20  7 18 12  5 15 17 10 62 16 37  4  2 14  8 21 22 65 25 31
 24 19 27  6 34 33  1 28 23 53 32 64 35 55 30 29  3 47 44 69 39 38 61 42
 51 40 60 41 36 57 63 52 43 50 45 46 66 49 56 59 54 58 72 48 68 74 75 67]
[ 1  0  2  5  4  3 15  6  7 11 12 10 14  9  8 13 18 19 27 22 24 16 42 21
 36 20 26 33 17 25 23]
[ 0  2  1  3  7  5  4  8  9  6 25 10 13 11 16 37 20]
[ 0  1  2  3  5  4  9  6 10  7 12  8 11 14 19]
[ 9  3  6  4  8  7  5  2  1 16 12 13 15 10 11 14]
['None' 'Norm' '>200' '>300']
['None' 'Norm' '>8' '>7']
['No' 'Steady' 'Up' 'Down']
['No' 'Steady' 'Up' 'Down']
['No' 'Steady' 'Up' 'Down']
['No' nan 'Steady']
['No' 'Steady' 'Up' 'Down']
['No']
['No' 'Steady' 'Up' 'Down']
['No' 'Steady' 'Up' 'Down']
['No']
['Steady' 'Down' 'No' 'Up']
[False  True]
[ True False]

In [44]:
df['race'].value_counts()

Caucasian          27776
AfricanAmerican     5764
Hispanic             806
Other                696
Asian                293
Name: race, dtype: int64

In [60]:
df['age'].unique()

array(['[60-70)', '[80-90)', '[70-80)', '[40-50)', '[50-60)', '[90-100)',
       '[30-40)', '[20-30)', '[10-20)', '[0-10)', nan], dtype=object)

In [46]:
df['age'].value_counts()
#said age had nan in unique but none could be found
#no edits were made

[70-80)     8990
[60-70)     8232
[80-90)     6386
[50-60)     6159
[40-50)     3328
[30-40)     1245
[90-100)    1072
[20-30)      561
[10-20)      179
[0-10)        22
Name: age, dtype: int64

In [58]:
df['chlorpropamide'].unique()

array(['No', nan, 'Steady'], dtype=object)

In [59]:
df['chlorpropamide'].value_counts()
#same thing for chlorpromaide as there was a nan listed in the unique fucntion but none where found in the value counts
#no edits were made

No        36160
Steady       14
Name: chlorpropamide, dtype: int64

In [61]:
df['gender'].unique()

array(['Female', 'Male', 'Unknown/Invalid'], dtype=object)

In [62]:
df['gender'].value_counts()

Female             19196
Male               16984
Unknown/Invalid        3
Name: gender, dtype: int64

In [63]:
indexNames = df[ df['gender'] == 'Unknown/Invalid' ].index
df.drop(indexNames , inplace=True)
#the choice to drop invalid/unknown gender was made as for one the varaible had only 4 people and two because biological
#gender is a predicting factor in diabetes making unknown/invalid an uncontrolled variable in the data

In [64]:
df['gender'].value_counts()

Female    19196
Male      16984
Name: gender, dtype: int64

In [77]:
df['gender'].mode()

0    Female
dtype: object

Question 3

Question 4

Question 5